{% extends 'layout.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}

    <div class="tac-background">

        <div class="tac-main-container">


            <div class="tac-main">
                <div class="tac-text-container">
                    <h1 class="tac-text">Terms and Conditions</h1>
                    <h2 class="tac-text-2">Please read these terms carefully before using <span class="span-ts">TimeSync<span
                            class="span-p">Pro</span></span></h2>
                </div>
            </div>


            <div class="tac-article-container">

                <div class="tac-article-nav">
                    <ul class="tac-article-nav-list">
                        <li class="tac-article-nav-item"><a href="#1" class="tac-article-nav-link">1. Acceptance of Terms</a></li>
                        <li class="tac-article-nav-item"><a href="#2" class="tac-article-nav-link">2. Use of Service</a></li>
                        <li class="tac-article-nav-item"><a href="#3" class="tac-article-nav-link">3. Privacy Policy</a></li>
                        <li class="tac-article-nav-item"><a href="#4" class="tac-article-nav-link">4. Intellectual Property</a></li>
                        <li class="tac-article-nav-item"><a href="#5" class="tac-article-nav-link">5. Termination</a></li>
                        <li class="tac-article-nav-item"><a href="#6" class="tac-article-nav-link">6. Limitation of Liability</a></li>
                        <li class="tac-article-nav-item"><a href="#7" class="tac-article-nav-link">7. Changes to Terms</a></li>
                        <li class="tac-article-nav-item"><a href="#8" class="tac-article-nav-link">8. Contact Us</a></li>
                    </ul>
                </div>

                <article class="tac-article" id="1">
                    <h2 class="tac-article-head">1. Acceptance of Terms</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %} </p>
                    </div>
                </article>

                <article class="tac-article" id="2">
                    <h2 class="tac-article-head">2. Use of Service</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %} </p>
                    </div>
                </article>

                <article class="tac-article" id="3">
                    <h2 class="tac-article-head">3. Privacy Policy</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %} </p>
                    </div>
                </article>

                <article class="tac-article" id="4">
                    <h2 class="tac-article-head">4. Intellectual Property</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %} </p>
                    </div>
                </article>

                <article class="tac-article" id="5">
                    <h2 class="tac-article-head">5. Termination</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %} </p>
                    </div>
                </article>

                <article class="tac-article" id="6">
                    <h2 class="tac-article-head">6. Limitation of Liability</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %} </p>
                    </div>
                </article>

                <article class="tac-article" id="7">
                    <h2 class="tac-article-head">7. Changes to Terms</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %} </p>
                    </div>
                </article>

                <article class="tac-article" id="8">
                    <h2 class="tac-article-head">8. Contact Us</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %} </p>
                    </div>
                </article>
            </div>
        </div>
    </div>

{% endblock %}