{% extends 'home-layout.html' %}

{% block content %}

    <header>
        <h1>Terms and Conditions</h1>
    </header>

    <main>
        <p>Welcome to TimeSyncPro. By using our service, you agree to comply with and be bound by the following terms and conditions:</p>

        <h2>1. Acceptance of Terms</h2>
        <p>By accessing or using TimeSyncPro, you agree to be bound by these Terms and Conditions and all applicable laws and regulations.</p>

        <h2>2. Use of Service</h2>
        <p>You agree to use TimeSyncPro only for lawful purposes and in a way that does not infringe the rights of, restrict or inhibit anyone else's use and enjoyment of the service.</p>

        <h2>3. Modifications to Service</h2>
        <p>We reserve the right to modify or discontinue, temporarily or permanently, the service with or without notice.</p>

        <h2>4. Privacy</h2>
        <p>Your use of TimeSyncPro is also governed by our Privacy Policy.</p>

        <!-- Add more sections as needed -->

    </main>

{% endblock %}