amqp==5.2.0
asgiref==3.8.1
async-timeout==4.0.3
billiard==4.2.0
black==24.10.0
boto3==1.35.43
botocore==1.35.43
celery==5.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.5
Django==5.1.4
django-celery-beat==2.7.0
django-countries==7.6.1
django-debug-toolbar==4.4.6
django-storages==1.14.4
django-timezone-field==7.0
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
dnspython==2.7.0
eventlet==0.38.2
flower==2.0.1
greenlet==3.1.1
gunicorn==23.0.0
holidays==0.62
humanize==4.10.0
jmespath==1.0.1
kombu==5.4.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
prometheus_client==0.20.0
prompt_toolkit==3.0.47
psycopg2==2.9.9
pydevd-pycharm==242.14146.24
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.8
s3transfer==0.10.3
six==1.16.0
sqlparse==0.5.0
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
