<div class="container-profile-colon item-container">
    <!-- Header Row -->
    <div class="container-row">
        {% with name=object.absentee.full_name %}
            {% if show_name %}
                <h4 class="obj-title">{{ name }} - {{ object.start_date|date:"d/m/Y" }}
                    - {{ object.end_date|date:"d/m/Y" }}</h4>
            {% else %}
                <h4 class="obj-title">{{ object.start_date|date:"d/m/Y" }} - {{ object.end_date|date:"d/m/Y" }}</h4>
            {% endif %}
        {% endwith %}
        <div class="crud-buttons">
            <button
                    type="button"
                    class="holiday-status-button default-btn cancel-btn"
                    data-holiday-id="{{ object.id }}"
                    data-action="delete">
                Delete
            </button>
        </div>
    </div>

    <div class="container-profile-row element-container employee-container">

        {% block element %}
            {% include "partials/absence_details.html" %}
        {% endblock %}
    </div>
</div>
