<div class="profile-item-row">
    <span class="profile-label">Added On:</span>
    <span class="profile-value">{{ object.created_at|date:"d/m/Y, H:i:s"  }}</span>
</div>
<div class="profile-item-row">
    <span class="profile-label">Type:</span>
    <span class="profile-value">{{ object.get_absence_type_display }}</span>
</div>

<div class="profile-item-row">
    <span class="profile-label">Added By:</span>
    <span class="profile-value">{{ object.added_by }}</span>
</div>

<div class="profile-item-row">
    <span class="profile-label">Reason:</span>
    <span class="profile-value">{{ object.reason }}</span>
</div>

<div class="profile-item-row">
    <span class="profile-label">Days Of Absense</span>
    <span class="profile-value">{{ object.days_of_absence }}</span>
</div>

{#<div class="profile-item-row">#}
{#    <span class="profile-label">Start Date:</span>#}
{#    <span class="profile-value">{{ object.start_date|date:"d/m/Y"  }}</span>#}
{#</div>#}
{##}
{#<div class="profile-item-row">#}
{#    <span class="profile-label">End Date:</span>#}
{#    <span class="profile-value">{{ object.end_date|date:"d/m/Y" }}</span>#}
{#</div>#}