{% load static %}



    <div class="profile-sidebar">
            {% with company=request.user.company %}
        <div class="profile-info">
{#            {% if profile.profile_picture %}#}
{#                <img src="{{ profile.profile_picture.url }}" alt="{{ profile.full_name }}" class="avatar">#}
{#            {% else %}#}
                <img src="{% static 'images/TimeSyncPro-image.webp' %}" alt="{{ profile.full_name }}" class="avatar">
{#            {% endif %}#}
            <h2 class="profile-name">{{ company.name }}</h2>

        </div>
        <ul class="profile-nav">
            <li><a href="{% url 'company_profile' company_slug=user.company.slug %}">Company Details</a></li>
            <li><a href="{% url 'profile' slug=user.slug %}">Departments</a></li>
            <li><a href="{% url 'all_teams' company_slug=user.company.slug %}">Teams</a></li>
            <li><a href="{% url 'all_shifts' company_slug=company.slug %}">Shifts</a></li>
        </ul>
        {% endwith %}
    </div>

