{% load static %}


<div class="profile-sidebar">
    {% with company=request.user.company %}
        <div class="profile-info">
            {% if company.logo %}
                <img src="{{ company.logo.url }}" alt="{{ company.name }}" class="avatar">
            {% else %}
                <img src="{% static 'images/TimeSyncPro-image.webp' %}" alt="{{ company.name }}" class="avatar">
            {% endif %}
            <h2 class="profile-name">{{ company.name }}</h2>
        </div>
        <ul class="profile-nav">
            <li><a href="{% url 'company_profile' company_slug=user.company.slug %}" class="dash-button">Company Details</a></li>
            <li><a href="{% url 'all_departments' company_slug=user.company.slug %}" class="dash-button">Departments</a></li>
            <li><a href="{% url 'company_members' company_slug=user.company.slug %}" class="dash-button">Employees</a></li>
            <li><a href="{% url 'all_teams' company_slug=user.company.slug %}" class="dash-button">Teams</a></li>
            <li><a href="{% url 'all_shifts' company_slug=company.slug %}" class="dash-button">Shifts</a></li>
            <li><a href="{% url 'company_holidays' company_slug=user.company.slug %}" class="dash-button">Holiday Requests</a></li>
            <li><a href="{% url 'all_departments' company_slug=user.company.slug %}" class="dash-button">Absences</a></li>
            <li><a href="{% url 'all_departments' company_slug=user.company.slug %}" class="dash-button">Reports</a></li>
        </ul>

    {% endwith %}
</div>

