<div class="profile-item-row">
    <span class="profile-label">Description:</span>
    <span class="profile-value">{{ object.description|truncatewords:5|default:"-" }}</span>
</div>

<div class="profile-item-row">
    <span class="profile-label">Rotation Weeks:</span>
    <span class="profile-value">{{ object.rotation_weeks|default:"-" }}</span>
</div>
<div class="profile-item-row">
    <span class="profile-label">Pattern:</span>
    <span class="profile-value">{{ object.get_shift_pattern|default:"-" }}</span>
</div>
<div class="profile-item-row">
    <span class="profile-label">Start Date:</span>
    <span class="profile-value">{{ object.start_date|date:"d/m/Y" }}</span>
</div>

{% for b in object.blocks.all %}
<div class="profile-item-row">
    <span class="profile-label">Week {{ b.order }}:</span>
    <span class="profile-value">{{ b.start_time }} - {{ b.end_time }}</span>
    <span class="profile-label">Duration:</span>
    <span class="profile-value">{{ b.duration }}</span>
</div>
{% endfor %}