{% extends 'layout/layout.html' %}
{% load static %}
{% load filters %}
<!-- templates/accounts/activate_and_set_password.html -->

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/pages/activate_account.css' %}">
{% endblock %}


{% block content %}
    <div class="activate_account">
        <h2>Set Password and Activate Your Account</h2>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Error:</strong> {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="part-form-container">

                {% for field in form %}
                    {% if not field.is_hidden %}

                        {% render_field field wrapper_class="form-row" class="form-control" label_class="form-label" %}
   
                    {% endif %}
                {% endfor %}
            </div>


            <button type="submit" class="default-btn">Activate</button>
        </form>
    </div>
{% endblock %}