{% extends 'layout.html' %}

{% block content %}
    <h1>Company Members</h1>
    


{% if company %}
    <p>Username: {{ user.email }}</p>
    <!-- Display company details -->
    {% if company %}
        <h2>Company: {{ company.company_name }}</h2>
    {% endif %}
    
    <!-- Display Employees related to the company -->
    {% if employees %}
        <h3>Employees</h3>
        <ul>
            {% for employee in employees %}
                <li>{{ employee.full_name }}</li>
                <a href="{% url 'company employee profile' company_slug=company_slug slug=profile.user.slug %}">Profile</a>
                <a href="{% url 'full profile update' company_slug=company_slug slug=profile.user.slug %}">Edit</a>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
{% endblock %}