{% extends 'layout.html' %}

{% block content %}
    <h1>Company Members</h1>
    


{% if company %}
    <p>Username: {{ user.email }}</p>
    <!-- Display company details -->
    {% if company %}
        <h2>Company: {{ company.company_name }}</h2>
    {% endif %}

        {%  if administrator %}
            <h3>Administrator</h3>
            <ul>
                <li>{{ administrator.full_name }}</li>
                <a href="{% url 'company employee profile' company_slug=company_slug slug=administrator.slug %}">Profile</a>
                <a href="{% url 'full profile update' company_slug=company_slug slug=administrator.slug %}">Edit</a>
            </ul>
        {% endif %}
    
    <!-- Display HRs related to the company -->
    {% if hrs %}
        <h3>HRs</h3>
        <ul>
            {% for hr in hrs %}
                
                <li>{{ hr.full_name }}</li>
                <a href="{% url 'company employee profile' company_slug=company_slug slug=hr.slug %}">Profile</a>
                <a href="{% url 'full profile update' company_slug=company_slug slug=hr.slug %}">Edit</a>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Display Managers related to the company -->
    {% if managers %}
        <h3>Managers</h3>
        <ul>
            {% for manager in managers %}
                <li>{{ manager.full_name }}</li>
                <a href="{% url 'company employee profile' company_slug=company_slug slug=manager.slug %}">Profile</a>
                <a href="{% url 'full profile update'  slug=manager.slug company_slug=company_slug%}">Edit</a>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Display Employees related to the company -->
    {% if employees %}
        <h3>Employees</h3>
        <ul>
            {% for employee in employees %}
                <li>{{ employee.full_name }}</li>
                <a href="{% url 'company employee profile' company_slug=company_slug slug=employee.slug %}">Profile</a>
                <a href="{% url 'full profile update' company_slug=company_slug slug=employee.slug %}">Edit</a>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
{% endblock %}