{% extends "layout/layout.html" %}
{% load static %}
{% load filters %}
{% block style %}
    <link rel="stylesheet" href="{% static 'styles/pages/create-profile-company.css' %}">
{% endblock %}


{% block content %}
    <div class="profile-company-form-container">
        <form method="POST" enctype="multipart/form-data">
        {% include "partials/messages.html" %}
            {% csrf_token %}
            <div class="profile-company-form">
                <div class="profile-company-reg">
                    <div class="company-form reg-form">
                        <div class="part-form-container">
                            <h2>Company</h2>
                            <h4>Company Details</h4>
                            {% for field in company_form %}
                                {% render_field field wrapper_class="form-row" class="form-control" label_class="form-label" %}
                            {% endfor %}
                        </div>
                        <div class="part-form-container">
                            <h4>Company Address</h4>
                            {% for field in company_address_form %}
                                {% render_field field wrapper_class="form-row" class="form-control" label_class="form-label" %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="profile-form reg-form">
                        <div class="part-form-container">
                            <h2>Profile</h2>
                            <h4>Profile Details</h4>
                            {% for field in form %}
                                {% render_field field wrapper_class="form-row" class="form-control" label_class="form-label" %}
                            {% endfor %}
                        </div>
                        <div class="part-form-container">
                            <h4>Profile Address</h4>
                            {% for field in profile_address_form %}
                                {% render_field field wrapper_class="form-row" class="form-control" label_class="form-label" %}
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <p class="required-fields-note">
                    <span class="required-star">*</span> Required fields
                </p>
                <button type="submit" class="btn submit-btn">Submit</button>
            </div>

        </form>
    </div>

{% endblock %}