{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>    #}
{#<meta charset="UTF-8">#}
{#    <title>Delete Team</title>#}
{#    <style>#}
{#        body {#}
{#            font-family: Arial, sans-serif;#}
{#        }#}
{#        .container {#}
{#            max-width: 600px;#}
{#            margin: 0 auto;#}
{#            padding: 20px;#}
{#            text-align: center;#}
{#            border: 1px solid #ccc;#}
{#            border-radius: 10px;#}
{#        }#}
{#        h1 {#}
{#            color: #d9534f;#}
{#        }#}
{#        .button-container {#}
{#            margin-top: 20px;#}
{#        }#}
{#        .button {#}
{#            padding: 10px 20px;#}
{#            margin: 0 10px;#}
{#            border: none;#}
{#            border-radius: 5px;#}
{#            cursor: pointer;#}
{#        }#}
{#        .button-yes {#}
{#            background-color: #d9534f;#}
{#            color: white;#}
{#        }#}
{#        .button-no {#}
{#            background-color: #5bc0de;#}
{#            color: white;#}
{#        }#}
{#    </style>#}
{#<body>#}
{#    <div class="container">#}
{#        <h1>Delete Team</h1>#}
{#        <p>Are you sure you want to delete the team "<strong>{{ user_to_delete.full_name }}</strong>"?</p>#}
{#        <p>This action cannot be undone.</p>#}
{#        <form method="post">#}
{#            {% csrf_token %}#}
{#            <div class="button-container">#}
{#                <button type="submit" class="button button-yes">Yes, delete it</button>#}
{#                <a href="{% url 'company_members'  company_slug=user.company.slug %}" class="button button-no">No, go back</a>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{#</body>#}
{#</html>#}

{% extends 'layout/company-layout.html' %}


{% block page-content %}
    <div class="content-area">
        <div class="profile-content">
            <div class="profile-main">
                <section class="profile-section delete-section">
                    <h2>Delete Employee</h2>
                    <h4>Are you sure you want to delete your employee "<strong>{{ object.profile.full_name }}</strong>"?</h4>
                    <h4 class="warning">This action cannot be undone.</h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="button-container">
                            <button type="submit" class="default-btn delete">Delete</button>
                            {% include "partials/cancel_btn_blue.html" %}
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
