{% extends 'layout/auth-user-layout.html' %}
{% load custom_tags %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/pages/profile.css' %}">
{% endblock %}


{% block page-content %}
    <div class="content-area">
        {% include "partials/messages.html" %}
        <div class="profile-content">
            <div class="profile-main">
                <section class="profile-section">
                    <div class="section-title-button">
                        <h2 class="section-title">Profile Information</h2>
                        <div>
                            <a href="{% url 'update_profile' slug=object.slug %}" class="default-btn edit"><i
                                    class="fa-regular fa-pen-to-square"></i></a>
                            <a href="{% url 'password_change' %}" class="default-btn change-password">Change
                                Password</a>
                        </div>
                    </div>
                    <div class="section-content profile-section-container">
                        <div class="container-profile-colon">
                            <h4>About Me</h4>
                            <div class="container-profile-row">

                                <div class="profile-item-row">
                                    <span class="profile-label">First Name:</span>
                                    <span class="profile-value">{{ profile.first_name|default:"-" }}</span>
                                </div>
                                <div class="profile-item-row">
                                    <span class="profile-label">Last Name:</span>
                                    <span class="profile-value">{{ profile.last_name|default:"-" }}</span>
                                </div>
                                <div class="profile-item-row">
                                    <span class="profile-label">Date Of Birth:</span>
                                    <span class="profile-value">{{ profile.date_of_birth|default:"-" }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="section-content">
                            {#<div class="contact-grid">#}
                            <div class="container-profile-colon">
                                <h4>Contact</h4>
                                <div class="container-profile-row">

                                    <div class="profile-item-row">
                                        <span class="profile-label">Email:</span>
                                        <span class="profile-value">{{ user.email }}</span>
                                    </div>
                                    <div class="profile-item-row">
                                        <span class="profile-label">Phone:</span>
                                        <span class="profile-value">{{ profile.phone_number|default:"-" }}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% with address=profile.address %}
                            <div class="container-profile-colon">
                                <h4>Address</h4>
                                {% if not address %}
                                    <h5>Not provided</h5>
                                {% else %}
                                    <div class="container-profile-row">
                                        <div>

                                            <div class="profile-item-row">
                                                <span class="profile-label">House Number:</span>
                                                <span class="profile-value">{{ address.house_number_or_name|default:"<span class=gray>-</span>" }}</span>
                                            </div>

                                            <div class="profile-item-row">
                                                <span class="profile-label">Lane 1:</span>
                                                <span class="profile-value">{{ address.line1|default:"<span class=gray>-</span>" }}</span>
                                            </div>

                                            <div class="profile-item-row">
                                                <span class="profile-label">Lane 2:</span>
                                                <span class="profile-value">{{ address.line2|default:"<span class=gray>-</span>" }}</span>
                                            </div>

                                            <div class="profile-item-row">
                                                <span class="profile-label">Street:</span>
                                                <span class="profile-value">{{ address.street|default:"<span class=gray>-</span>" }}</span>
                                            </div>
                                        </div>
                                        <div>

                                            <div class="profile-item-row">
                                                <span class="profile-label">City:</span>
                                                <span class="profile-value">{{ address.city|default:"<span class=gray>-</span>" }}</span>
                                            </div>

                                            <div class="profile-item-row">
                                                <span class="profile-label">Postcode:</span>
                                                <span class="profile-value">{{ address.postcode|default:"<span class=gray>-</span>" }}</span>
                                            </div>

                                            <div class="profile-item-row">
                                                <span class="profile-label">Country:</span>
                                                <span class="profile-value">{{ address.country.name|default:"<span class=gray>-</span>" }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endwith %}
                        <div class="container-profile-colon">
                            <h4>Work Information</h4>
                            <div class="container-profile-row">

                                <div class="profile-item-row">
                                    <span class="profile-label">Department:</span>
                                    <span class="profile-value">{{ profile.department.name|default:"-" }}</span>
                                </div>
                                <div class="profile-item-row">
                                    <span class="profile-label">Team:</span>
                                    <span class="profile-value">{{ profile.team.name|default:"-" }}</span>
                                </div>
                                <div class="profile-item-row">
                                    <span class="profile-label">Shift:</span>
                                    <span class="profile-value">{{ profile.shift.name|default:"-" }}</span>
                                </div>
                                <div class="profile-item-row">
                                    <span class="profile-label">Employee ID:</span>
                                    <span class="profile-value">{{ profile.employee_id|default:"-" }}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
