{% extends 'auth-layout.html' %}

{% block content %}
    <h1>Profile Details</h1>

{% if user %}
    <p>Company: {{ user.company.slug }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Full Name: {{ user.profile.full_name }}</p>
    <p>Role: {{ user.profile.role }}</p>
    <p>Phone Number: {{ user.related_instance.phone_number }}</p>
    <p>Address: {{ user.address }}</p>
    <p></p>
    <!-- Display company details -->
    {% if company_name %}
        <h2>Company: {{ company_name }}</h2>
    {% endif %}
    
    {% if has_detailed_change_permission %}
        <a href="{% url 'full profile update' slug=user_to_view.slug company_slug=user.profile.company.slug %}">Edit</a>
        {% elif user == user_to_view%}
        <a href="{% url 'edit profile' slug=user_to_view.slug %}">Edit</a>
    {% endif %}
    {% if has_delete_permission %}
        <a href="{% url 'delete profile' slug=user_to_view.slug company_slug=user.profile.company.slug %}">Delete</a>
    {% endif %}
    <!-- Display company details -->
    {% if company_name %}
        <h2>Company: {{ company_name }}</h2>
    {% endif %}
    

{% endif %}
{% endblock %}