{% extends 'auth-layout.html' %}

{% block content %}
    <h1>Profile Details</h1>

{% if user %}
    <p>Username: {{ user.company_slug }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Full Name: {{ user.related_instance.full_name }}</p>
    <p>Role: {{ user.role }}</p>
    <p>Phone Number: {{ user.related_instance.phone_number }}</p>
    <p>Address: {{ user.address }}</p>
    <p></p>
    <!-- Display company details -->
    {% if company_name %}
        <h2>Company: {{ company_name }}</h2>
    {% endif %}

    <!-- Display HRs related to the company -->
    {% if hrs %}
        <h3>HRs</h3>
        <ul>
            {% for hr in hrs %}
                <li>{{ hr.full_name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Display Managers related to the company -->
    {% if managers %}
        <h3>Managers</h3>
        <ul>
            {% for manager in managers %}
                <li>{{ manager.full_name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Display Employees related to the company -->
    {% if employees %}
        <h3>Employees</h3>
        <ul>
            {% for employee in employees %}
                <li>{{ employee.full_name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
{% endblock %}