{% extends 'layout.html' %}

{% block content %}
    <h1>Profile Details</h1>

{% if user %}
    <p>Username: {{ user.related_instance.full_name }}</p><br>
    <p>Permissions:</p><br>
    {% for permission in user.get_all_user_permissions %}
        <p>{{ permission }}</p>

    {% endfor %}

{% endif %}
    
{% if user_to_view %}
    <p>Email: {{ user_to_view.email }}</p>
    <p>Full Name: {{ user_to_view.related_instance.full_name }}</p>
    <p>Role: {{ user_to_view.user_type }}</p>
    <p>Phone Number: {{ user_to_view.related_instance.phone_number }}</p>
    <p>Address: {{ user_to_view.address }}</p>
    {% if has_detailed_change_permission %}
        <a href="{% url 'full profile update' company_name=company_name slug=user_to_view.slug %}">Edit</a>
        {% elif user == user_to_view%}
        <a href="{% url 'edit profile' slug=user_to_view.slug company_name=company_name %}">Edit</a>
    {% endif %}
    <!-- Display company details -->
    {% if company_name %}
        <h2>Company: {{ company_name }}</h2>
    {% endif %}
{% endif %}
{% endblock %}