{% extends "layout.html" %}

{% block content %}

{% load filters %}

<form action="{% url 'edit profile'  slug=user.slug ompany_slug=user.employee.company.slug %}" method="post" enctype="multipart/form-data">
    <table>
    {{ user_form.as_table }}
    {% if additional_form %}
      {{ additional_form.as_table }}
    {% endif %}
    </table>
    <button type="submit">Save</button>
{#    {% if user.is_company and user_to_edit == None %} }}#}
{#    <a href="{% url 'delete company'  slug=user.slug company_name=user.get_company_name %}">Delete Company</a>#}
{#    {% endif %}#}
    {% csrf_token %}
</form>
    
    {% endblock %}