{% extends "layout/auth-layout.html" %}
{% load filters %}
{% load static %}

{% block page-content %}
    <div class="content-area">
        <form action="{% url 'detailed_update_own_profile' slug=user_to_edit.slug %}" method="post"
              enctype="multipart/form-data">
            {{ user_form.as_div }}
            {{ profile_form.as_div }}
            {% if not profile_form.department.is_hidden %}
                <label for="department">Department</label>
                {{ profile_form.department }}
            {% endif %}
            {% if not profile_form.team.is_hidden %}
                <label for="team">Team</label>
                {{ profile_form.team }}
            {% endif %}
            {% if not profile_form.shift_pattern.is_hidden %}
                <label for="{{ profile_form.shift_pattern.id_for_label }}">{{ profile_form.shift_pattern.label }}</label>
                {{ profile_form.shift_pattern }}
                {% if profile_form.shift_pattern.help_text %}
                    <small class="help-text">{{ profile_form.shift_pattern.help_text }}</small>
                {% endif %}
                {% if profile_form.shift_pattern.errors %}
                    <div class="error-message">{{ profile_form.shift_pattern.errors }}</div>
                {% endif %}
            {% endif %}
            {{ address_form.as_div }}


            <button type="submit">Save</button>
            {% csrf_token %}
        </form>
    </div>


{% endblock %}