{% extends "layout/layout.html" %}
{% block content %}
    {%  if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{#<form action="{% url 'register employee' company_slug=company_slug%}?next={{ next }}" method="post">#}
{% load filters %}
<form action="{% url 'register_employee' company_slug=company_slug%}" method="post">
{#                <p>#}
{#                    {{ form.username|placeholder:"Email" }}#}
{#                </p>#}
{#                <p>#}
{#                    {{ form.password|placeholder:"Password" }}#}
{#                </p>#}
    {{ form.as_p }}
                <button type="submit">Register</button>

                {% csrf_token %}
            </form>
{% endblock %}