{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TimeSyncPro</title>
    <link rel="stylesheet" href="{% static 'styles/site.css' %}">
</head>

<body>

<div class="login-container">

    {#    <div class="login-img-container">#}
    {#        <img src="{% static 'images/login_img copy.webp' %}" alt="login">#}
    {#    </div>#}

    <div class="login-form-container">

        <div class="container-logo-login-signup" id="tsp-logo">

            <div class="container-logo-tsp" id="tsp-logo">
                <a href="{% url 'index' %}"><img src="{% static 'images/logo-blue.png' %}"
                                                 alt="TimeSyncPro"></a>
            </div>

        </div>

        <h2>Log in</h2>


        <form method="post"  action={% url 'sign_in' %}>

            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="error-container">
                    {% for error in form.non_field_errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}


            <div class="input-box">
    
                <span class="icon">
                    <i class="fa-regular fa-user"></i>
                </span>
                {{ form.username }}
                <label for="id_username">Email</label>
            </div>


            <div class="input-box">
                        <span class="icon">
          <i class="fa-solid fa-lock"></i>
        </span>
                {{ form.password }}
                <label for="id_password">Password</label>
            </div>

            <div class="remember-forgot">
                <label for="id_remember_me">
                    <input type="checkbox" name="remember_me" id="id_remember_me">
                    Remember me
                </label>
                <a href="{% url 'password_reset' %}">Forgot password?</a>
            </div>


            <button class="login-button sign-up" type="submit">Log in</button>

            <div class="register-link">
                <p>Don't have an account? <a href="{% url 'sign_up_administrator' %}">Register</a></p>
            </div>


        </form>

    </div>

</div>
</body>
<script src="{% static 'js/signup-login.js' %}"></script>
</html>
