{% extends "layout/layout.html" %}

{% block content %}

    {% load filters %}
    
    <div class="site-main">
        <div class="form-container">
            <h2>{{ form_title|default:"Form Title" }}</h2>

            <form action="{% url 'update_employee' slug=user_to_edit.slug company_slug=user.profile.company.slug %}"
                  method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in user_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                {% for field in additional_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="submit" value="{{ submit_text|default:'Submit' }}">
                </div>
            </form>
        </div>
    </div>



    {#<form action="{% url 'full profile update' slug=user_to_edit.slug company_slug=user.profile.company.slug %}" method="post" enctype="multipart/form-data">#}
    {#    <table>#}
    {#    {{ user_form.as_table }}#}
    {#    {% if user_form.non_field_errors %}#}
    {#        <div class="alert alert-danger">#}
    {#            <ul>#}
    {#                {% for error in user_form.non_field_errors %}#}
    {#                    <li>{{ error }}</li>#}
    {#                {% endfor %}#}
    {#            </ul>#}
    {#        </div>#}
    {#    {% endif %}#}
    {#    {% for field in user_form %}#}
    {#        {% if field.errors %}#}
    {#            <div class="alert alert-danger">#}
    {#                <ul>#}
    {#                    {% for error in field.errors %}#}
    {#                        <li><strong>{{ field.label }}:</strong> {{ error }}</li>#}
    {#                    {% endfor %}#}
    {#                </ul>#}
    {#            </div>#}
    {#        {% endif %}#}
    {#    {% endfor %}#}
    {##}
    {#    {% if additional_form %}#}
    {#        {{ additional_form.as_table }}#}
    {#        {% if additional_form.non_field_errors %}#}
    {#            <div class="alert alert-danger">#}
    {#                <ul>#}
    {#                    {% for error in additional_form.non_field_errors %}#}
    {#                        <li>{{ error }}</li>#}
    {#                    {% endfor %}#}
    {#                </ul>#}
    {#            </div>#}
    {#        {% endif %}#}
    {#        {% for field in additional_form %}#}
    {#            {% if field.errors %}#}
    {#                <div class="alert alert-danger">#}
    {#                    <ul>#}
    {#                        {% for error in field.errors %}#}
    {#                            <li><strong>{{ field.label }}:</strong> {{ error }}</li>#}
    {#                        {% endfor %}#}
    {#                    </ul>#}
    {#                </div>#}
    {#            {% endif %}#}
    {#        {% endfor %}#}
    {#    {% endif %}#}
    {#    </table>#}
    {#    <button type="submit">Save</button>#}
    {#    {% csrf_token %}#}
    {#</form>#}

{% endblock %}