{% extends 'layout/layout.html' %}

{% block content %}
    <div class="container">
        <h1>Delete Shift Pattern</h1>
        <p>Are you sure you want to delete the shift pattern "<strong>{{ shift_pattern.name }}</strong>"?</p>
        <p>This action cannot be undone.</p>
        <form method="post">
            {% csrf_token %}
            <div class="button-container">
                <button type="submit" class="button button-yes">Yes, delete it</button>
                <a href="{% url 'shiftpattern list' %}" class="button button-no">No, go back</a>
            </div>
        </form>
    </div>
{% endblock %}