{% extends "layout/list-layout.html" %}

{% block crud_buttons %}
    {% include "partials/crud_buttons_objects.html" %}
{% endblock %}

{#{% block add_button %}#}
{#    <a href="{% url 'create_shift' company_slug=user.company.slug %}" class="default-btn add-btn">Add Shift</a>#}
{#{% endblock %}#}

{% block element %}
    {% include "partials/team_details.html" %}
{% endblock %}

{#{% extends 'layout/company-layout.html' %}#}
{#{% load static %}#}
{#{% load custom_tags %}#}
{##}
{#{% block style %}#}
{#    <link rel="stylesheet" href="{% static 'styles/pages/profile.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'styles/test.css' %}">#}
{#{% endblock %}#}
{##}
{#{% block page-content %}#}
{#    <div class="content-area">#}
{#        <div class="section-title-button">#}
{#            <h2 class="section-title">{{ title }}</h2>#}
{#        #}
{#            <form method="get" class="search-form">#}
{#                {% for key, value in request.GET.items %}#}
{#                    {% if key != 'search' and key != 'page' %}#}
{#                        <input type="hidden" name="{{ key }}" value="{{ value }}">#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                <input type="text" name="search" value="{{ search_value }}" class="search-input">#}
{#                <button type="submit" class="search-button">Search</button>#}
{#            </form>#}
{#        #}
{#            {% if create_url %}#}
{#                <a href="{% url create_url company_slug=user.company.slug %}" class="default-btn create"><i class="fa-solid fa-plus"></i>{{ button_names.create }}</a>#}
{#            {% endif %}#}
{#        </div>#}
{#        {% if not objects %}#}
{#            <h3 class="not-found">No {{ title }} Found</h3>#}
{#        {% else %}#}
{#            {% if error %}#}
{#                <div class="alert alert-danger" role="alert">#}
{#                    {{ error }}#}
{#                </div>#}
{#            {% endif %}#}
{#            {% for object in objects %}#}
{#                <div class="profile-content">#}
{#                    <div class="profile-main">#}
{#                        <section class="profile-section">#}
{#                            <div class="section-content profile-section-container">#}
{##}
{#                                <div class="container-profile-colon item-container">#}
{#                                    <div class="container-row">#}
{#                                        <h4>{{ object.name }}</h4>#}
{#                                        {% include "partials/crud_buttons_objects.html" %}#}
{#                                    </div>#}
{#                                    <div class="container-profile-row element-container">#}
{#                                        {% block element %}#}
{##}
{#                                        {% endblock %}#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </section>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{##}
{#        {% if not page_obj.has_next and page_obj.number == 1 %}#}
{#            <p></p>#}
{#        {% else %}#}
{#            <nav aria-label="Page navigation" class="paginate-nav">#}
{#                <ul class="pagination justify-content-center">#}
{#                    {% if page_obj.has_previous %}#}
{#                        <li class="page-item">#}
{#                            <a class="page-link" href="?{% url_query_append_tag request 'page' 1 %}">&laquo; First</a>#}
{#                        </li>#}
{#                        <li class="page-item">#}
{#                            <a class="page-link"#}
{#                               href="?{% url_query_append_tag request 'page' page_obj.previous_page_number %}">Previous</a>#}
{#                        </li>#}
{#                    {% else %}#}
{#                        <li class="page-item disabled">#}
{#                            <span class="page-link">&laquo; First</span>#}
{#                        </li>#}
{#                        <li class="page-item disabled">#}
{#                            <span class="page-link">Previous</span>#}
{#                        </li>#}
{#                    {% endif %}#}
{##}
                    {# Show current page number #}
{#                    <li class="page-item active">#}
{#            <span class="page-link">#}
{#                {{ page_obj.number|default:"0" }} of {{ page_obj.paginator.num_pages|default:"0" }}#}
{#            </span>#}
{#                    </li>#}
{##}
{#                    {% if page_obj.has_next %}#}
{#                        <li class="page-item">#}
{#                            <a class="page-link"#}
{#                               href="?{% url_query_append_tag request 'page' page_obj.next_page_number %}">Next</a>#}
{#                        </li>#}
{#                        <li class="page-item">#}
{#                            <a class="page-link"#}
{#                               href="?{% url_query_append_tag request 'page' page_obj.paginator.num_pages %}">Last#}
{#                                &raquo;</a>#}
{#                        </li>#}
{#                    {% else %}#}
{#                        <li class="page-item disabled">#}
{#                            <span class="page-link">Next</span>#}
{#                        </li>#}
{#                        <li class="page-item disabled">#}
{#                            <span class="page-link">Last &raquo;</span>#}
{#                        </li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </nav>#}
{#        {% endif %}#}
{#    </div>#}
{##}
{#{% endblock %}#}