.site-header {
    width: 100%;

}
.container-header {
    background-color: #1f2025;
    border-bottom: 1px solid #181818;
}

.container-navigation {
    /*width: 80%;*/
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2.5em;
    margin: 0 auto;
    /*background-color: #282828;*/

}

.container-logo {
    width: 140px;
}

.navbar-ul {
    display: flex;
    list-style: none;
    gap: 5em;
    /*font-size: 2em;*/
}

.navbar-ul a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5em;
}

.central-nav :hover {
    color: #ff5733;
}

.central-nav :active {
    color: #da080f;
}

.signup-login-container {
    display: flex;
    gap: 1em;
}


.signup-login-button {
    padding: 0.5em 2em;
    border-radius: 1em;
    border: none;
}

.signup-button, .signin-button {
    display: inline-block; /* Makes the anchor behave like a block element */
    position: relative; /* Required for the pseudo-element positioning */
    background-color: transparent; /* Transparent background */
    color: white; /* Text color */
    padding: 0.3em 2em; /* Padding */
    border: none; /* Remove default border */
    border-radius: 0.5em; /* Rounded corners */
    text-transform: uppercase; /* Uppercase text */
    font-size: 1.4em; /* Font size */
    font-weight: 600; /* Font weight */
    cursor: pointer; /* Pointer cursor */
    text-decoration: none; /* Remove underline from the text */
    z-index: 1; /* Position above the pseudo-element */
    transition: color 0.5s ease; /* Transition for text color */
}

/*.signin-button {*/
/*        color: #d7d5d5; !* Text color *!*/
/*}*/

.signup-button::before,
.signin-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*border-radius: 0.5em; !* Slightly larger than the button's border-radius *!*/
    border-radius: 0.3em 1.2em;

    z-index: -1; /* Position behind the button */
    transition: all 0.3s ease, background 0.3s ease; /* Smooth transition for pseudo-element */
}

.signup-button:hover::before,
.signin-button:hover::before {
    top: -0.25em;
    left: -0.25em;
    right: -0.25em;
    bottom: -0.25em;
    border-radius: 1.35em 0.4em; /* Match the button's border-radius */
}

.signup-button::before {
    background: linear-gradient(to right, #da080f, #ff5733, #da080f);
      border-radius: 0.3em 1.2em;
}

.signup-button:hover::before {
    background: linear-gradient(to right, #ff5733, #da080f, #ff5733);
    border-radius: 1.35em 0.4em;
}

.signin-button::before {
    background-color: #1f2025;
    border: 2px solid #ff5733; /* Transparent border */
    /*background: linear-gradient(to right, #082698, #103ff5, #082698);*/
      border-radius: 1.2em 0.3em;
}

.signin-button:hover::before {
    background-color: #373738;
    /*background: linear-gradient(to right, #103ff5, #082698, #103ff5);*/
    border-radius: 0.4em 1.35em;
    /*border: 2px solid #ff5733;*/
    border-color: #da080f;
}

.signin-button:hover {
    color: #dedede;
}

.authenticated-navbar-ul li {
    justify-items: start;
}


.dropdown {
    position: relative;
    display: inline-block;
    width: 50px;
    height: auto;
    cursor: pointer;
    /*    display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    border-radius: 50%;
}

.dropdown-toggler {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 50%; /* Make the button round */
}




.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #303134;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 160px;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 8px;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px; /* Increase the clickable area around the image */
    transition: background-color 0.1s;
    border-radius: 50%;
}

.img-container:hover {
    background-color: rgb(255, 255, 255);
}

.dropdown-menu a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    /*border-bottom: 1px solid #ddd;*/
}

.dropdown-menu a:hover {
    background-color: rgba(73, 74, 75, 0.99);
    border-radius: 8px;
}

.dropdown-menu a:last-child {
    border-bottom: none;
}

.rounded-circle {
    border-radius: 50%;
    /*margin-left: 10px;*/
    background-color: #1f2025;
}

.rounded-circle.hovered {
            background-color: #38383a; /* Change to the desired hover color */
        }


