{% extends 'layout/layout.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <div class="tac-background">
        <div class="tac-main-container">
            <div class="tac-main">
                <div class="tac-text-container">
                    <h1 class="tac-text">Privacy Policy</h1>
                    <h2 class="tac-text-2">How <span class="span-ts">TimeSync<span class="span-p">Pro</span></span> collects, uses, and protects your information</h2>
                </div>
            </div>

            <div class="tac-article-container">
                <div class="tac-article-nav">
                    <ul class="tac-article-nav-list">
                        <li class="tac-article-nav-item"><a href="#1" class="tac-article-nav-link">1. Information We Collect</a></li>
                        <li class="tac-article-nav-item"><a href="#2" class="tac-article-nav-link">2. How We Use Your Information</a></li>
                        <li class="tac-article-nav-item"><a href="#3" class="tac-article-nav-link">3. Information Sharing and Disclosure</a></li>
                        <li class="tac-article-nav-item"><a href="#4" class="tac-article-nav-link">4. Data Security</a></li>
                        <li class="tac-article-nav-item"><a href="#5" class="tac-article-nav-link">5. Your Rights and Choices</a></li>
                        <li class="tac-article-nav-item"><a href="#6" class="tac-article-nav-link">6. Changes to This Policy</a></li>
                        <li class="tac-article-nav-item"><a href="#7" class="tac-article-nav-link">7. International Data Transfers</a></li>
                        <li class="tac-article-nav-item"><a href="#8" class="tac-article-nav-link">8. Contact Us</a></li>
                    </ul>
                </div>

                <article class="tac-article" id="1">
                    <h2 class="tac-article-head">1. Information We Collect</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %}</p>
                    </div>
                </article>

                <article class="tac-article" id="2">
                    <h2 class="tac-article-head">2. How We Use Your Information</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %}</p>
                    </div>
                </article>

                <article class="tac-article" id="3">
                    <h2 class="tac-article-head">3. Information Sharing and Disclosure</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %}</p>
                    </div>
                </article>

                <article class="tac-article" id="4">
                    <h2 class="tac-article-head">4. Data Security</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %}</p>
                    </div>
                </article>

                <article class="tac-article" id="5">
                    <h2 class="tac-article-head">5. Your Rights and Choices</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %}</p>
                    </div>
                </article>

                <article class="tac-article" id="6">
                    <h2 class="tac-article-head">6. Changes to This Policy</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %}</p>
                    </div>
                </article>

                <article class="tac-article" id="7">
                    <h2 class="tac-article-head">7. International Data Transfers</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %}</p>
                    </div>
                </article>

                <article class="tac-article" id="8">
                    <h2 class="tac-article-head">8. Contact Us</h2>
                    <div class="tac-article-text">
                        <p>{% random_lorem_paragraphs %}</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/scroll-to-id.js' %}"></script>
{% endblock %}