{% extends "layout/layout.html" %}
{% load static %}

{% block style %}
   <link rel="stylesheet" href="{% static 'styles/pages/403-404.css' %}"> 
{% endblock %}


{% block content %}
    <div class="error-container">
        <div class="error-content">
            <div class="error-code">403</div>
            <h1>Access Denied</h1>
            <p class="error-message">Sorry, you don't have permission to access this page.</p>
            <div class="error-actions">
                <a href="javascript:history.back()" class="btn default-btn cancel-btn">
                    <i class="fas fa-arrow-left"></i>Back
                </a>
                <a href="{% url 'index' %}" class="btn default-btn create">
                    <i class="fas fa-home"></i>Home
                </a>
            </div>
        </div>
    </div>
{% endblock %}