{% load static %}

<div class="dropdown">
    <div class="dropdown-toggler" id="navbarDropdown">
        <div class="img-container">
            {% if user.related_instance.profile_picture %}
                <img class="rounded-circle" src="{{ user.profile.profile_picture }}"
                     title="profile" alt="image">
            {% else %}
                <img class="rounded-circle" src="{% static 'images/profile-black.png' %}"
                     title="profile"
                     alt="image">
            {% endif %}
        </div>
    </div>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            {% if user.is_company %}
                <a href="{% url 'company profile'  slug=user.slug company_slug=user.profile.company.slug %}">Profile</a>
            {% else %}
                <a href="{% url 'profile'  slug=user.slug  %}">Profile</a>
            {% endif %}
        </li>
        <li><a class="dropdown-item" href="{% url 'password change' %}">Change Password</a></li>
        <li><a class="dropdown-item" href="{% url 'signout user' %}">Log Out</a></li>
    </ul>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const dropdownToggle = document.getElementById('navbarDropdown');
        const dropdownMenu = dropdownToggle.nextElementSibling;
        const image = dropdownToggle.querySelector('.rounded-circle');

        const showMenu = () => {
            dropdownMenu.style.display = 'block';
            image.classList.add('hovered');
        };

        const hideMenu = (e) => {
            if (!dropdownToggle.contains(e.relatedTarget) && !dropdownMenu.contains(e.relatedTarget)) {
                dropdownMenu.style.display = 'none';
                image.classList.remove('hovered');
            }
        };

        dropdownToggle.addEventListener('mouseover', showMenu);
        dropdownToggle.addEventListener('mouseout', hideMenu);
        dropdownMenu.addEventListener('mouseover', showMenu);
        dropdownMenu.addEventListener('mouseout', hideMenu);
    });
</script>