
        <div class="footer-container">
            {#            <div class="footer-logo">#}
            {#                <a href="{% url 'index' %}"><img src="{% static 'images/tsp_logo2.png' %}" alt="TimeSyncPro"></a>#}
            {#            </div>#}
            <div class="footer-links">

                <ul>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'terms and conditions' %}">Terms and Conditions</a></li>
                    <li><a href="{% url 'terms of use' %}">Terms of Use</a></li>
                    <li><a href="{% url 'privacy policy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'signup administrator' %}">Contact</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <p>Follow us:</p>
                <div>
                    <ul>
                        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.x.com/"><i class="fab fa-x"></i></a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 TimeSyncPro. All rights reserved.</p>
        </div>