{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TimeSyncPro</title>
    <link rel="stylesheet" href="{% static 'styles/site.css' %}">
</head>

<body>
<div class="page-container">

    <div class="content-wrap">
        <header class="site-header sticky-top">
            {% include "header.html" %}
        </header>

        <main class="site-main">
{##}
{#            {% if request.user.is_authenticated %}#}
{#                {% include "side_nav.html" %}#}
{#            {% endif %}#}

            <div class="content-container">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
    </div>

    <footer class="site-footer">
        {% include "footer.html" %}
    </footer>

</div>
</body>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const dropdownToggle = document.getElementById('navbarDropdown');
        const dropdownMenu = dropdownToggle.nextElementSibling;
        const image = dropdownToggle.querySelector('.rounded-circle');

        const showMenu = () => {
            dropdownMenu.style.display = 'block';
            image.classList.add('hovered');
        };

        const hideMenu = (e) => {
            if (!dropdownToggle.contains(e.relatedTarget) && !dropdownMenu.contains(e.relatedTarget)) {
                dropdownMenu.style.display = 'none';
                image.classList.remove('hovered');
            }
        };

        dropdownToggle.addEventListener('mouseover', showMenu);
        dropdownToggle.addEventListener('mouseout', hideMenu);
        dropdownMenu.addEventListener('mouseover', showMenu);
        dropdownMenu.addEventListener('mouseout', hideMenu);
    });
</script>

</html>