{% extends 'home-layout.html' %}
{% load static %}

{% block content %}
    <div class="title-background">
        <div class="index-main-container">

            <div class="img-container-1">
                <img src="{% static 'images/men-on-pc1.png' %}" class="main-img" alt="image">
            </div>

            <div class="container-1">

                <div class="index-text-container">
                    <h1 class="head-text">Staff Leave Planner: Streamline Absence Management, Save Time, Reduce
                        Hassle</h1>
                </div>

                <div class="navbar signup-login-container">
                    {% include "partials/sign_up_button.html" %}
                    {% include "partials/learn_more_button.html" %}
                </div>

            </div>
        </div>
    </div>
    
{% endblock %}