{% extends 'home-layout.html' %}
{% load static %}

{% block content %}
    <div class="title-background">
        <div class="index-main-container">

            <div class="index-text-container">
                <h1 class="head-text">The Simple Way To Manage Employee Leave </h1>
                <h2 class="head-text-2">Reduce The <span>Time</span>. Lower The <span>Cost</span>. Remove The <span>Stress</span>.</h2>
            </div>

            <div class="navbar signup-login-container signup-learn-more">
                {% include "partials/sign_up_button.html" %}
                {% include "partials/learn_more_button.html" %}
            </div>
        </div>
    </div>


{% endblock %}