{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="title-background">
        <div class="index-main-container">

            <div class="index-text-container">
                <h1 class="head-text">The Simple Way To Manage Employee Leave </h1>
                <h2 class="head-text-2">Reduce The <span class="span-p">Time</span>. Lower The <span class="span-p">Cost</span>. Remove The <span class="span-p">Stress</span>.
                </h2>
            </div>

            <div class="navbar signup-login-container signup-learn-more">
                {% include "partials/sign_up_button.html" %}
                {% include "partials/learn_more_button.html" with url="#" %}
            </div>
        </div>
    </div>
    <div class="home-article-container">
        <article class="tsp-article">
            <h2 class="tsp-article-head">Why Choose <span class="span-ts">TimeSync<span class="span-p">Pro</span></span>?</h2>
            <div class="tsp-article-text">
                <p><span class="span-ts">TimeSync<span class="span-p">Pro</span></span> is an intuitive and cost-effective leave management solution
                    designed to simplify
                    employee leave tracking, attendance monitoring, and performance management.
                    With <span class="span-ts">TimeSync<span class="span-p">Pro</span></span>, you
                    can streamline your leave management process, reduce time and costs, minimize errors and compliance
                    risks, and eliminate the stress of manual leave handling.</p>
                <p>Our user-friendly, paperless system automates leave requests, tracks staff absenteeism, and provides
                    insights into leave trends all while ensuring compliance with company policies.
                    Quick to set up and easy to use,
                    <span class="span-ts">TimeSync<span class="span-p">Pro</span></span> lets you
                    focus on what really matters managing your team,
                    not their
                    paperwork.</p>
            </div>
        </article>
    </div>
    
    <div class="content-3-container">

        <div class="content-3">
            <h3 class="content-3-head">Features</h3>


            <div class="c3-content">

                <div class="c3-container">

                    <div class="c3-image">
                        <img src="{% static 'images/bulb-icon.png' %}" alt="Leave Balance">
                    </div>

                    <div class="c3-text">
                        <h4>Boost Productivity</h4>
                        <p>Approving leave requests in moments, with all the data you need at your fingertips using
                            our
                            leave management system.</p>
                        {% include "partials/learn_more_button.html" with url="features?scroll=increase-productivity"%}
                    </div>

                </div>

                <div class="c3-container">

                    <div class="c3-image">
                        <img src="{% static 'images/gear-Icon.png' %}" alt="Leave Balance">
                    </div>

                    <div class="c3-text">
                        <h4>Customize Your Experience</h4>
                        <p>See your organizational structure at a glance and personalise your workflows to suit your
                            teams with our leave planner online.</p>
                        {% include "partials/learn_more_button.html" with url="features?scroll=tailor-the-experience"%}
                    </div>

                </div>
            </div>

            <div class="c3-content">

                <div class="c3-container">

                    <div class="c3-image">
                        <img src="{% static 'images/reports-icon.png' %}" alt="Leave Balance">
                    </div>

                    <div class="c3-text">
                        <h4>Easy Reporting</h4>
                        <p>Bespoke reports allow you to understand leave and absence within your organization via our
                            leave management solution.</p>
                        {% include "partials/learn_more_button.html" with url="features?scroll=powerful-reporting"%}
                    </div>

                </div>

                <div class="c3-container">

                    <div class="c3-image">
                        <img src="{% static 'images/control-icon.png' %}" alt="Leave Balance">
                    </div>

                    <div class="c3-text">
                        <h4>Stay in Control</h4>
                        <p>Online leave management of work patterns, different leave years, overtime, and time off.</p>
                        {% include "partials/learn_more_button.html" with url="features?scroll=stay-in-control"%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-article-container article-2">
    <div class="article-2-container">
    
        <div class="tsp-article-img">
            <img src="{% static 'images/men-on-pc1.png' %}" alt="Leave Management"> 
        </div>
        <article class="tsp-article">
            <h4 class="h4-tsp-article-head">Fast and Affordable Annual Leave Tracker, Online Solution</h4>
            <h2 class="h2-tsp-article-head">Beat The HR Headache</h2>
            <p class="tsp-article-text-2">Handling all the facets of employee leave can create a major HR headache, but it does have to be that way. 
                <span class="span-ts">TimeSync<span class="span-p">Pro</span></span> is the affordable self-service online solution
                to managing employee requests.
                It reduces processing times to minutes, ensures company compliance, and updates records in real time.
                So, whether you’re a manager with little time, or an HR department handling hundreds of requests monthly, 
                <span class="span-ts">TimeSync<span class="span-p">Pro</span></span> can reduce the headache to a click
                by replacing paper forms and messy spreadsheets.</p>
            {% include "partials/sign_up_button.html" %}  
        </article>
    </div>
    </div>



{% endblock %}
