<!DOCTYPE html>
<html>
<head>
    <title>Shift Pattern Detail</title>
</head>
<body>
    <div class="container">
        <h1>Shift Pattern Detail</h1>
        <hr>
        <h2>{{ shift_pattern.name }}</h2>
        <p>{{ shift_pattern.description }}</p>
        <h3>Shift Blocks</h3>
        {% for block in shift_pattern_blocks %}
            <p>{{ block.start_time }} - {{ block.end_time }}</p>
        {% endfor %}
        <h3>Teams</h3>
        {% for team in shift_pattern_teams %}
            <p>{{ team.name }}</p>
        {% endfor %}
    </div>
</body>
</html>