<div class="navbar side-nav authenticated-navbar">
    <nav class="side-navbar navbar-static-side">
    <ul class="navbar-ul authenticated-navbar-ul">
        <li><a href="{% url 'company profile' company_slug=user.profile.company.slug %}"
               class="nav-button">Company</a>
        </li>

        <li>
            <a href="{% url 'company members' company_slug=user.company.slug %}">Employees</a>
        </li>
                <li>
            <a href="{% url 'register employee' company_slug=user.company.slug %}">Register Employees</a>
        </li>
        <li>
            <a href="{% url 'shift pattern list' company_slug=user.company.slug %}">SP list</a>
        </li>
                <li>
            <a href="{% url 'shift pattern create' company_slug=user.company.slug %}">SP Create</a>
        </li>
                <li>
            <a href="{% url 'team list' company_slug=user.company.slug %}">Team List</a>
        </li>
                <li>
            <a href="{% url 'team create' company_slug=user.company.slug %}">Team Create</a>
        </li>
    </ul>
        </nav>
</div>