{% extends "layout/list-layout.html" %}

{% block crud_buttons %}
    {% include "partials/crud_buttons_objects.html" %}
{% endblock %}


{% block element %}
    <div class="profile-item-row">
        <span class="profile-label">Employees:</span>
        <span class="profile-value">{{ object.employees.count }}</span>
    </div>
    <div class="profile-item-row">
        <span class="profile-label">Holiday Approver:</span>
        <span class="profile-value">{{ object.holiday_approver|default:"-" }}</span>
    </div>
{% endblock %}
