{% extends 'layout/company-layout.html' %}
{% load static %}
{% load filters %}

{% block style %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'styles/components/select2-checkbox.css' %}">
{% endblock %}


{% block page-content %}


    <div class="content-area">

        <div class="form-container">
            <h2>Create Department</h2>

            <form action="{% url 'create_department' company_slug=user.company.slug %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                            <div class="profile-form reg-form ">
                <div class="profile-form reg-form update-form formset">
                    <div class="part-form-container">
                        <h4>Information</h4>
                        {% for field in form %}
                            {% if not field.is_hidden %}
                                {% if field.name == 'department_members' %}
                                    {% render_field field wrapper_class="form-row" class="form-control select2-checkbox" label_class="form-label" %}
                                {% else %}
                                    {% render_field field wrapper_class="form-row" class="form-control" label_class="form-label" %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="btn-group update-form-btn">
                        <button type="submit" class="default-btn">Create</button>
                        {% include "partials/cancel_btn.html" %}
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>



{% endblock %}

{% block script %}
    {{ form.media }}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.js"></script>
    <script src="{% static 'js/select2-checkbox.js' %}"></script>
{% endblock %}