<nav class="navbar central-nav auth-central-nav">
    <ul class="navbar-ul authenticated-navbar-ul">
        <li><a href="{% url 'company_profile' company_slug=user.profile.company.slug %}"
               class="nav-button">Company</a>
        </li>

        <li>
            <a href="{% url 'company_members' company_slug=user.company.slug %}" class="nav-button">Employees</a>
        </li>
        <li>
            <a href="{% url 'register_employee' company_slug=user.company.slug %}" class="nav-button">RegEmp</a>
        </li>
        <li>
            <a href="{% url 'all_shift_patterns' company_slug=user.company.slug %}" class="nav-button">SPlist</a>
        </li>
        <li>
            <a href="{% url 'create_shift_pattern' company_slug=user.company.slug %}" class="nav-button">SPCreate</a>
        </li>
        <li>
            <a href="{% url 'all_teams' company_slug=user.company.slug %}" class="nav-button">TeamList</a>
        </li>
        <li>
            <a href="{% url 'create_team' company_slug=user.company.slug %}" class="nav-button">TeamCreate</a>
        </li>
    </ul>
    
</nav>