{% load static %}

<div class="dropdown">
    <div class="dropdown-toggler" id="navbarDropdown">
        <div class="img-container">
            {% if user.related_instance.profile_picture %}
                <img class="rounded-circle" src="{{ user.profile.profile_picture }}"
                     title="profile" alt="image">
            {% else %}
                <img class="rounded-circle" src="{% static 'images/profile-blue.png' %}"
                     title="profile"
                     alt="image">
            {% endif %}
        </div>
    </div>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a href="{% url 'dashboard' slug=user.slug %}">Dashboard</a></li>
        <li><a href="{% url 'profile'  slug=user.slug  %}">Profile</a></li>
        <li><a href="{% url 'request_holiday' slug=user.slug %}">Request Holiday</a></li>
        <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
        <li><a class="dropdown-item logout-link" href="#">Log Out</a></li>
    </ul>
</div>

<script src="{% static 'js/drop-down-menu.js' %}"></script>