{% load static %}

<div class="container-header" id="container-header">

    <div class="container-navigation" id="container-navigation">

        <div class="container-logo" id="tsp-logo">
            <a href="{% url 'index' %}"><img src="{% static 'images/LOGO - Blue.png' %}"
                                             alt="TimeSyncPro"></a>
        </div>

        {% if not request.user.is_authenticated or not request.user.profile or not request.user.company %}


            <nav class="navbar central-nav">
                <ul class="navbar-ul">
                    <li><a href="{% url 'features' %}" class="nav-button">Features</a></li>
                    <li><a href="{% url 'about' %}" class="nav-button">About</a></li>
                    <li><a href="{% url 'contact' %}" class="nav-button">Contact</a></li>
                </ul>
            </nav>
            {% if not request.user.is_authenticated %}
                <div class="navbar signup-login-container">
                    {% include "partials/sign_up_button.html" %}
                    {% include "partials/log_in_button.html" %}
                </div>
            {% else %}
                <div class="navbar signup-login-container">
                <a href="#" class="nav-button logout-link">Sign Out</a>
            {% endif %}

        {% else %}

            {% include "layout/auth-header.html" %}
            {% include "layout/dropdown-menu.html" %}

        {% endif %}

        </div>

    </div>
</div>