{% extends 'layout/company-layout.html' %}
{% load static %}
{% load custom_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/pages/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/test.css' %}">
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block page-content %}
    <div class="content-area">
        {% include "partials/messages.html" %}
        <div class="section-title-button">
            <h2 class="section-title">{{ title }}</h2>
            {% block search %}
                {% include "partials/search_form.html" %}
            {% endblock %}
            {% block sort %}
            {% endblock %}
            {% block create %}
                {% if create_url %}
                    <a href="{% url create_url company_slug=user.company.slug %}" class="default-btn create"><i
                            class="fa-solid fa-plus"></i>{{ button_names.create }}</a>
                {% endif %}
            {% endblock %}
        </div>
        {% if not objects %}
            {% if not_found %}
                <h3 class="not-found">{{ not_found }}</h3>
            {% else %}
                <h3 class="not-found">No {{ title }} Found</h3>
            {% endif %}
        {% else %}
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            {% for object in objects %}
                <div class="profile-content">
                    <div class="profile-main">
                        <section class="profile-section">
                            <div class="section-content profile-section-container">
                                {% block obj_information %}

                                    <div class="container-profile-colon item-container">
                                        <div class="container-row">
                                            {% if object.name %}
                                                <a href="{% url detail_url pk=object.pk company_slug=user.company.slug %}"
                                                   class="link"
                                                   title="Details"><h4>{{ object.name }}</h4></a>
                                            {% elif object.profile %}
                                                <a href="{% url detail_url slug=object.slug company_slug=user.company.slug %}"
                                                   class="link" title="Details"><h4
                                                        class="obj-title">{{ object.profile.full_name }} -
                                                    {{ object.profile.role }}{% if object.profile.is_company_admin %} -
                                                        Company Administrator{% endif %}</h4></a>
                                            {% endif %}

                                            {% block crud_buttons %}

                                            {% endblock %}
                                        </div>
                                        <div class="container-profile-row element-container employee-container">
                                            {% block element %}

                                            {% endblock %}
                                        </div>
                                    </div>
                                {% endblock %}

                            </div>
                        </section>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% include "partials/paginator.html" %}
    </div>

{% endblock %}
