{% extends "layout/layout.html" %}

{% block content %}
    
    <form action="{% url 'cancel_holiday' pk=holiday.pk %}" method="post">
    <button type="submit">Cancel Holiday</button>
    <button type="submit" id="go_back">Go Back</button>
    {% csrf_token %}
    </form>
    

{% endblock %}

{% block script %}
        
    <script>
        document.getElementById("go_back").addEventListener("click", function() {
            window.history.back();
        });
    </script>
    
{% endblock %}