{% extends "layout/company-layout.html" %}
{% load filters %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/pages/profile.css' %}">
{% endblock %}

{% block page-content %}


    <div class="content-area">

        <div class="form-container">
            <h2>Review Holiday Request</h2>

            {#            <form action="{% url 'create_team' company_slug=user.company.slug %}" method="post"#}
            {#                  enctype="multipart/form-data">#}
            {#                {% csrf_token %}#}
            <div class="profile-form reg-form ">
                <div class="profile-form reg-form update-form formset">
                    <div class="part-form-container">
                        <h4>Information</h4>

                        <div class="form-row form-label holiday-review">
                            <p>Requester: {{ object.requester.full_name }}</p>
                            <p>Requested on: {{ object.created_at|date:"d/m/Y, H:i:s" }}</p>
                            <p>Period: {{ object.start_date|date:"d/m/Y" }} - {{ object.end_date|date:"d/m/Y" }}</p>
                            <p>Requested Days: {{ object.days_requested }}</p>
                            <p>Reason: {{ object.reason|default:"-" }}</p>
                            <p>Status: <span class="status-{{ object.status }}">{{ object.status|title }}</span></p>
                            {% if object.review_reason %}
                                <p>{{ object.status|title }} Reason: {{ object.review_reason }}</p>
                            {% endif %}
                            {% if object.status == "approved" %}
                                <p>Approved On: {{ object.modified_at|date:"d/m/Y, H:i:s" }}</p>
                            {% elif object.status == "denied" %}
                                <p>Denied On: {{ object.modified_at|date:"d/m/Y, H:i:s" }}</p>
                            {% endif %}

                            {% if object.status == "approved" %}
                                <p>Approved By: {{ object.reviewed_by }}</p>
                            {% elif object.status == "denied" %}
                                <p>Denied By: {{ object.reviewed_by }}</p>
                            {% else %}
                                <p>Approver: {{ object.reviewer }}</p>
                            {% endif %}
                            {% if requester_team and object.status == "pending" %}

                                <p>Maximum Team Members Holidays At A
                                    Time: {{ requester_team.employees_holidays_at_a_time }}</p>
                                <p>Team Members In Holiday: {{ team_members_in_holiday_count }} </p>
                                <div class="table-container">
                                    <p class="table-title">{{ requester_team.name }} Members Requests</p>
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Reason</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for holiday in team_members_in_holiday %}
                                            <tr>
                                                <td>{{ holiday.requester.first_name }} {{ holiday.requester.last_name }}</td>
                                                <td>{{ holiday.start_date }}</td>
                                                <td>{{ holiday.end_date }}</td>
                                                <td>{{ holiday.reason|default:"-" }}</td>
                                                <td class="status-{{ holiday.status|lower }}">{{ holiday.status }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                        {% if object.status == "pending" %}
                            {% for field in form %}
                                {% if not field.is_hidden %}
                                    {% render_field field wrapper_class="form-row" class="form-control" label_class="form-label holiday-review" %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    </div>
                    {% if object.status == "pending" %}
                        <div class="btn-group update-form-btn">
                            <button type="button" class="holiday-status-button default-btn create"
                                    data-holiday-id="{{ object.id }}" data-action="approved">Approve
                            </button>
                            <button type="button" class="holiday-status-button default-btn cancel-btn"
                                    data-holiday-id="{{ object.id }}"
                                    data-action="denied">Deny
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
            {#            </form>#}
        </div>
    </div>



{% endblock %}

{% block script %}
    <script src="{% static 'js/holiday-status-update.js' %}"></script>
{% endblock %}